<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="favicon.ico">
    <title>Aplikasi Input Mahasiswa | KK-3</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:1945/assets/css/form_style.css">
</head>
<body>
  <button id="btnBack"><a href="./">Back to previous page</a></button>
  <div class="container">
    <form method="POST">
      <div class="input-group">
        <label for="nama">Nama</label>
        <input type="text" id="nama">
      </div>
      <div class="input-group">
        <label for="kelas">Kelas</label>
        <input type="text" id="kelas">
      </div>
      <div class="input-group">
        <label for="jurusan">Jurusan</l>
        <input type="text" id="jurusan">
      </div>
      <input type="submit" id="btnSubmit">
    </form>
  </div>
  <script src="scripts/add_edit.js"></script>
</body>
</html>
