<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="favicon.ico">
    <title>Aplikasi Input Mahasiswa | KK-3</title>
</head>
<body>
  <button><a href="./">Back to previous page</a></button>
  <form method="POST">
    <label for="nama">Nama</label><input type="text" id="nama"><br />
    <label for="kelas">Kelas</label><input type="text" id="kelas"><br />
    <label for="jurusan">Jurusan</label><input type="text" id="jurusan"><br />
    <input type="submit" id="btnSubmit">
  </form>
  <script src="scripts/add_edit.js"></script>
</body>
</html>
