<!DOCTYPE html>
<html>
<head>
  <title>Aplikasi Input Mahasiswa | KK-3</title>
  <link rel="stylesheet" type="text/css" href="http://localhost:1945/assets/css/style.css">
</head>
<body>
  <button id="btnAdd">Tambah Mahasiswa</button>
  <table id="tbMahasiswa">
    <thead>
      <tr>
        <th>No.</th>
        <th>Nama</th>
        <th>Kelas</th>
        <th>Jurusan</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody id="table-body"></tbody>
  </table>
  <script src="scripts/tableData.js"></script>
  <script src="scripts/btnAdd.js"></script>
  <script src="scripts/btnEdit.js"></script>
</body>
</html>
